.join-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.join-box {
  width: 380px;
  padding: 40px 30px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.join-title {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 600;
}

.join-input {
  width: 93%;
  height: 38px;
  margin-bottom: 18px;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  font-size: 14px;
  outline: none;
}

.join-input::placeholder {
  color: #bdbdbd;
}

.join-button {
  width: 100%;
  height: 38px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 14px;
}

.error-message {
  color: #e53935;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.id-check-wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 5px;
}

.id-check-button {
  padding: 0 20px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 13px;
  height: 40px;
  margin-top: 7px;
}

.id-check-message {
  font-size: 13px;
  margin-top: -10px;
  color: #1e88e5;  
}

.error-message {
  color: #e53935; 
  font-size: 13px;
  margin-top: -10px;
}

.input-error-message {
  color: #e53935;
  font-size: 13px;
  margin-top: -4px;
  margin-bottom: 12px;
}



